In [42]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [44]:
df=pd.read_csv("audia1.csv")

In [46]:
df.head(3)

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642

In [48]:
df=df[["Year","Type","Mileage(miles)","Engine","PS","Transmission","Fuel","Number_of_Owners","Price(£)"]]

In [50]:
df.head(3)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£)
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0

In [52]:
df.columns=["yil","kasa","mil","motor","ps","vites","yakit","sahip","fiyat"]

In [54]:
df.head(3)

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0

In [56]:
df['motor']=df['motor'].str.replace("L","")
df['motor']=pd.to_numeric(df['motor'])

In [58]:
df=pd.get_dummies(df,columns=['kasa','vites','yakit'],drop_first=True)

In [60]:
y=df[['fiyat']]
X=df.drop("fiyat",axis=1)

In [62]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,random_state=23)

In [66]:
lm=LinearRegression()
model=lm.fit(X_train,y_train)
model.score(X_test,y_test)

0.9220055014056643

In [68]:
df.head(3)

,yil,mil,motor,ps,sahip,fiyat,vites_Manual,yakit_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,True,False
1,2016.0,42596.0,1.0,93.688363,3,10755.0,True,True
2,2015.0,42700.0,1.4,123.274162,2,10799.0,True,True

In [72]:
model.predict([[2016,30000,1.0,90,5,0,1]])[0][0]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

13655.991063946858