In [7]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [17]:
df=pd.read_csv("Student.csv")

In [19]:
df.head(3)

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811

In [23]:
# y = a1x1 + a2x2 + b 
# https://www.kaggle.com/datasets/yasserh/student-marks-dataset

In [25]:
y=df[["Marks"]]
X=df[["number_courses","time_study"]]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [31]:
l=LinearRegression()
model=l.fit(X,y)

In [33]:
model.predict([[4,4]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[21.59657189]])

In [35]:
model.predict([[3,2]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[8.93416357]])

In [37]:
df['Marks'].max()

55.299

In [39]:
model.predict([[4,10]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[53.99164461]])

In [41]:
model.score(X,y)

0.9403656320238896