In [41]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [43]:
df=pd.read_csv("PlanePrice.csv")
df.head(5)

,Model Name,Engine Type,HP or lbs thr ea engine,Max speed Knots,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,All eng rate of climb,Eng out rate of climb,Takeoff over 50ft,Landing over 50ft,Empty weight lbs,Length ft/in,Wing span ft/in,Range N.M.,Price
0,100 Darter (S.L. Industries),Piston,145,104,91.0,46.0,36,450,900.0,1300.0,"2,050","1,180",25/3,37/5,370,1300000.0
1,7 CCM Champ,Piston,85,89,83.0,44.0,15,600,720.0,800.0,"1,350",820,20/7,36/1,190,1230000.0
2,100 Darter (S.L. Industries),Piston,90,90,78.0,37.0,19,650,475.0,850.0,"1,300",810,21/5,35/0,210,1600000.0
3,7 AC Champ,Piston,85,88,78.0,37.0,19,620,500.0,850.0,"1,300",800,21/5,35/0,210,1300000.0
4,100 Darter (S.L. Industries),Piston,65,83,74.0,33.0,14,370,632.0,885.0,"1,220",740,21/5,35/0,175,1250000.0

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Model Name               517 non-null    object
 1   Engine Type              517 non-null    object
 2   HP or lbs thr ea engine  517 non-null    object
 3   Max speed Knots          497 non-null    object
 4   Rcmnd cruise Knots       507 non-null    float64
 5   Stall Knots dirty        502 non-null    float64
 6   Fuel gal/lbs             517 non-null    int64
 7   All eng rate of climb    513 non-null    object
 8   Eng out rate of climb    491 non-null    float64
 9   Takeoff over 50ft        492 non-null    float64
 10  Landing over 50ft        517 non-null    object
 11  Empty weight lbs         516 non-null    object
 12  Length ft/in             517 non-null    object
 13  Wing span ft/in          517 non-null    object
 14  Range N.M.               499 non-null    object
 15  Price                    507 non-null    float64
dtypes: float64(5), int64(1), object(10)
memory usage: 64.8+ KB

In [47]:
df=df[["Rcmnd cruise Knots","Stall Knots dirty","Fuel gal/lbs","Eng out rate of climb","Price"]]

In [49]:
df.head(3)
df=df.dropna()

In [51]:
y=df['Price']
X=df.drop("Price",axis=1)

In [53]:
#Y için normalizasyon yapılmaz
# outlier(Aykırı değer) etkisini azaltır
# model performansı artar

In [55]:
ss=StandardScaler()
X2=ss.fit_transform(X)

In [57]:
np.mean(X2)

3.475480772739621e-17

In [59]:
X2

array([[-1.06834072, -0.90496048, -0.30121357, -1.01117862],
       [-1.14858511, -1.02751346, -0.30662452, -1.17736479],
       [-1.19873786, -1.45644888, -0.30559386, -1.40356263],
       ...,
       [ 0.77728034,  1.60737553, -0.21000056,  1.14000903],
       [ 0.7271276 ,  0.99461065, -0.21206187,  0.87226464],
       [ 0.71709705,  0.87205767, -0.21206187, -0.0140616 ]])

In [67]:
X2=pd.DataFrame(X2)
X2.head(5)

          0         1         2         3
0 -1.068341 -0.904960 -0.301214 -1.011179
1 -1.148585 -1.027513 -0.306625 -1.177365
2 -1.198738 -1.456449 -0.305594 -1.403563
3 -1.198738 -1.456449 -0.305594 -1.380481
4 -1.238860 -1.701555 -0.306882 -1.258611

In [75]:
X2[0].mean()

6.178632484870436e-17

In [73]:
X2[1].std()

1.0010887319501067

In [77]:
X2[2].std()

1.001088731950106

In [79]:
mm=MinMaxScaler()

In [81]:
X3=mm.fit_transform(X)

In [83]:
X3=pd.DataFrame(X3)

In [85]:
X3.head(5)

          0         1         2         3
0  0.051724  0.215909  0.000814  0.074541
1  0.032020  0.193182  0.000102  0.044254
2  0.019704  0.113636  0.000237  0.003029
3  0.019704  0.113636  0.000237  0.007235
4  0.009852  0.068182  0.000068  0.029446

In [87]:
X3[0].mean()

0.3140608267294924

In [89]:
X3[0].max()

1.0

In [91]:
X3[0].min()

0.0

In [93]:
mm2=MinMaxScaler(feature_range=(0,10))

In [95]:
X4=mm2.fit_transform(X)

In [97]:
X4=pd.DataFrame(X4)

In [99]:
X4.head(5)

          0         1         2         3
0  0.517241  2.159091  0.008139  0.745415
1  0.320197  1.931818  0.001017  0.442537
2  0.197044  1.136364  0.002374  0.030288
3  0.197044  1.136364  0.002374  0.072354
4  0.098522  0.681818  0.000678  0.294464

In [101]:
X4[0].max()

10.000000000000002

In [103]:
X4[0].min()

0.0